*{
    box-sizing: border-box;
    
}

body{
    background: url(../../assets/images/Fondo\ pagina.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: "poppinis", sans-serif;
    
}



.ley{
    display: flex;
}

#logo{
    margin-top: 10px;
    margin-left: 20px;
}
.Idioma select{
    width: 100px;
    border-radius: 5px;
    border:2px solid rgba(255, 255, 255, 0.799);
    background-color: rgba(255, 255, 255, 0.397);
    padding: 10px 5px;
    color: rgb(255, 255, 255);
}

nav{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding: 10px 20px 20px;
    
}

h1{
    display: flex;
    justify-content: center;
}

form{

    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.pregunta input{
    
      justify-content: center;
    
}

.pregunta {
    margin-right: 50px;
}

.hechos{
    margin-left: 50px;
}

.hechos input{
    width: 450px;
    height: 250px;
}



.texto {
    position: relative;
    top: 30px;
    left: 30%;
    padding: 10px ;
    width: 700px;
    height: 100px;
    background-color: rgb(191, 196, 201);    
    border-radius: 10px;
    
}

p{
 text-align: center;
}
