*{
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    background: url(../../assets/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: "poppinis", sans-serif;
    
}



#logo{
    margin-left: 20px;
}
.Idioma select{
    width: 100px;
    border-radius: 5px;
    border:2px solid rgba(255, 255, 255, 0.799);
    background-color: rgba(255, 255, 255, 0.397);
    padding: 10px 5px;
    color: rgb(255, 255, 255);
}

nav{
    width: 200px;
    position: relative;
    top: -60px;
    left: 1330px;
    text-decoration: none; 
    padding: 10px 20px 20px;

}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.botones button{
    width: 200px;
    height: 260px;
    background-color: rgba(255, 255, 255, 0.397);
    border: 2px solid rgba(255, 255, 255, 0.799);
    border-radius: 20px;
}
a{
    position: relative;
    top: 20px;
    padding: 10px;
    
    border-radius: 10px;
    text-decoration: none;
    color: green;
}
a:hover{
    background: green;
    color: white;
}
.botones button:hover{
    background: white;
}


h2{
    
    color: white;
    position: absolute;
    bottom: 1px;
}